body {
  background: #141414;
  color: whitesmoke;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Fascinate', cursive;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;

}

::-webkit-scrollbar {
  display: none;
}


